.line-chart-box {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.line-chart-box-expand {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line-chart-text {
  font: normal normal 600 18px Suisse Intl;
  letter-spacing: 0.4px;
  color: #000000de;
  text-transform: capitalize;
}

.line-expand-icon {
  color: transparent;
}

.line-chart-box:hover .line-expand-icon {
  color: #000000;
}
