.settings-box {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}
.settings-aside {
  height: 90vh;
  width: 25%;
  border-right: 1.5px solid #0000000e;
  padding: 8px 0px 0px 0px;
  position: fixed;
}

.settings-sidebar-box {
  padding-left: 0;
  list-style-type: none;
}

.settings-sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 35px;
  margin: 5px 0px 5px 0px;
  padding: 0px 0px 0px 15%;
  cursor: pointer;
  font: normal normal normal 15px Suisse Intl;
  letter-spacing: 0px;
  color: #000000;
}

.settings-sidebar-item:hover {
  background: #ecfcf7 0% 0% no-repeat padding-box;
}

.active-sidebar-item {
  background: #ecfcf7 0% 0% no-repeat padding-box;
  border-right: 4px solid #0b694c;
  color: #0b694c;
}

.settings-inner-box {
  width: 75%;
  left: 25%;
  position: absolute;
  min-height: 90vh;
}
