.company-login-logo {
  width: 161px;
  height: 40px;
}

.login-text {
  font: normal normal bold 25px Suisse Intl;
  letter-spacing: 0px;
  color: #101827;
  line-height: 2.5;
  letter-spacing: 0.5px;
}

.login-description {
  font: normal normal normal 18px Suisse Intl;
  letter-spacing: 0px;
  color: #00000099;
}

.label {
  font: normal normal medium 15px Suisse Intl;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 550;
  cursor: pointer;
}

form {
  margin: 20px 0px 0px 0px;
}

.input-box {
  box-shadow: 0px 3px 6px #dbdbdb29;
  border: 1px solid #0000001f;
  border-radius: 9px;
  height: 50px;
  width: 100%;
  position: relative;
  padding: 0px 10px 0px 12%;
  margin: 8px 0px 5px 0px;
}

.fieled-icon {
  position: absolute;
  left: 3%;
  top: 25%;
}

.input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font: normal normal normal 15px Suisse Intl;
  letter-spacing: 0px;
  color: #00000099;
}

.switch-text {
  font: normal normal medium 20px Suisse Intl;
  letter-spacing: 0px;
  color: #00a4dc;
  cursor: pointer;
  letter-spacing: 0.3px;
}

/* .error-msg {
  text-align: left;
  font: normal normal normal 12px Suisse Intl;
  letter-spacing: 0px;
  color: #aa4646;
  margin: 0px 0px 10px 0px;
} */

.login-form-carousel-image-size {
  height: 100%;
  width: 100%;
}

.carousel-heading {
  color: #ffffff;
  font-family: "avenir";
  font-weight: bold;
}

.carousel-text {
  position: absolute;
  bottom: 15%;
  left: 6%;
}
