.filter-box {

    width: 400px;
  }
  
  .filter-head {
    font: normal normal 600 20px/26px Suisse Intl;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.87;
  }
  
  .filter-description {
    font: normal normal 600 15px Suisse Intl;
    letter-spacing: 0px;
    color: #000000;
    line-height: 2;
  }
  
  .filter-header-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 15px;
  }
  
  .row-between-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
  }
  
  .input-color-box-outer {
    display: flex;
    align-items: center;
    gap: 10%;
    height: 54px;
  }
  
  .input-color-box-border {
    display: flex;
    align-items: center;
    gap: 10%;
    border: 1px solid #0000001f;
    border-radius: 4px;
    width: 45%;
    padding: 6px;
  }
  
  .filter-value-label {
    font: normal normal 100 16px Suisse Intl;
    letter-spacing: 0px;
    color: #000000;
    
  }
  
  .filter-value-color-label {
    font: normal normal 500 16px Suisse Intl;
    letter-spacing: 0px;
    color: #000000;
    
  }
  
  .input-color-box {
    height: 33px;
    width: 33px;
    border-radius: 4px;
    border: 1px solid #d0dde8;
  }
  
  .accordion-input {
    opacity: 0;
  }
  
  .time-frame-filter-box {
    padding-left: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .time-frame-item {
    list-style-type: none;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    height: 40px;
    font: normal normal 300 14px Suisse Intl;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .time-frame-item-active {
    list-style-type: none;
    background: #0b694c 0% 0% no-repeat padding-box;
    border: none;
    color: #ffffff;
    border-radius: 4px;
    height: 40px;
    font: normal normal 300 14px Suisse Intl;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .time-frame-item-active:hover {
    background-color: #0b694c;
  }

 .trigger-button{
  background: #FFFFFF 0% 0% no-repeat padding-box;
 margin-top: 20px;

opacity: 1;
color: #1a9ee0;
border-style: solid;
border-color: #1a9ee0;
font-weight: bold;
font-size: 15px;
cursor: pointer;

 }