body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  all: unset;
}

@font-face {
  font-family: "Suisse Intl";
  src: local("Suisse Intl"),
    url(./assets/fonts/Suisse_Intl/SuisseIntl-Regular.ttf) format("truetype");
}

.btn {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normal-btn {
  margin: 0px !important;
  height: 40px !important;
  margin-left: 8px !important;
}

.profile-btn {
  height: 35px !important;
  margin-left: 8px !important;
  width: 120px !important;
  border-radius: 3px !important;
}

.content-box {
  width: 100%;
}

.content-box-expand {
  width: 100%;
}

.content-inner-box {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 10px;
}

.dialog-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.circle-graph-box-expand {
  width: 47%;
  background-color: #ffffff;
  height: 100%;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-chart-inner-box {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.layout {
  width: 90vw;
}
.MuiDialog-paperFullWidth {
  max-width: unset !important;
  max-height: unset !important;
}

.link-btn {
  height: 40px;
  width: 40px;
  background: #ffffff 0% 0% no-repeat padding-box !important;
  box-shadow: 0px 3px 6px #dbdbdb29 !important;
  border: 1px solid #0000001f !important;
  border-radius: 4px !important;
  font: normal normal normal 15px Suisse Intl;
  letter-spacing: 0.17px;
  color: #000000de !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px !important;
  cursor: pointer;
}

.percentage-text {
  font: normal normal normal 15px Suisse Intl;
  letter-spacing: 0.44px;
  color: #1dbc77;
}

.percentage-text-decrease {
  font: normal normal normal 15px Suisse Intl;
  letter-spacing: 0.44px;
  color: #fc2366;
}

.expand-icon {
  color: transparent;
}

.company-login-logo {
  width: 181px;
  height: 61px;
}

.login-text {
  font: normal normal bold 25px Suisse Intl;
  letter-spacing: 0px;
  color: #101827;
  line-height: 2.5;
  letter-spacing: 0.5px;
}

.login-description {
  font: normal normal normal 18px Suisse Intl;
  letter-spacing: 0px;
  color: #00000099;
}

.label {
  font: normal normal medium 15px Suisse Intl;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 550;
  cursor: pointer;
  margin-bottom: 6px;
}

form {
  margin: 20px 0px 0px 0px;
}

.input-box {
  box-shadow: 0px 3px 6px #dbdbdb29;
  border: 1px solid #0000001f;
  border-radius: 9px;
  height: 50px;
  width: 100%;
  position: relative;
  padding: 0px 10px 0px 12%;
  margin: 8px 0px 5px 0px;
}

.welcome-input-box {
  box-shadow: 0px 3px 6px #dbdbdb29;
  border: 1px solid #0000001f;
  border-radius: 9px;
  height: 50px;
  width: 100%;
  position: relative;
  padding: 12px;
  margin: 8px 0px 5px 0px;
}

.fieled-icon {
  position: absolute;
  left: 3%;
  top: 25%;
}

.input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  font: normal normal normal 15px Suisse Intl;
  letter-spacing: 0px;
  color: #00000099;
}

.switch-text {
  font: normal normal medium 20px Suisse Intl;
  letter-spacing: 0px;
  color: #00a4dc;
  cursor: pointer;
  letter-spacing: 0.3px;
}

.error-msg {
  text-align: left;
  font: normal normal normal 12px Suisse Intl;
  letter-spacing: 0px;
  color: #aa4646;
  height: 8px;
  margin: 0px 0px 8px 0px;
}

.login-form-carousel-image-size {
  height: 100%;
  width: 100%;
}

.carousel-heading {
  color: #ffffff;
  font-family: "avenir";
  font-weight: bold;
}

.carousel-text {
  position: absolute;
  bottom: 15%;
  left: 6%;
}

.trans {
  opacity: 0;
}

.date-filter-item {
  border-radius: 4px !important;
}

.date-filter-item-active {
  background-color: #0b694c !important;
  color: #ffffff !important;
  font-family: "Suisse Intl";
  border: 1px solid #0b694c;
}

.date-filter-item-active:hover {
  background-color: #0b694c;
}

.url-popup-header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dates-filter-pop-up {
  width: 650px;
  height: 400px;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 20px;
}

.MuiPaper-root::-webkit-scrollbar {
  width: 0px;
}
