.skeleton-container1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    width: 100vw;
  }
  .skeleton-container2 {
    margin-bottom: 20px;
  }
  
  .skeleton-container3 {
    display: flex;
    justify-content: space-between;
  }
  